In [128]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import RandomizedSearchCV
from scipy import stats
from sklearn.linear_model import LinearRegression
import random

In [130]:
data_path = "C:/Users/nikil/OneDrive/Desktop/Uni/M.Sc/Data Analytics/Project1/Week3_4/Processing/Output/"
data=pd.read_csv(data_path + "data_for_pred.csv")
data.drop(columns=["Unnamed: 0"], inplace=True)
data=data.dropna()

data = data[(np.abs(stats.zscore(data["Population"])) <3 )]
data= data[(np.abs(stats.zscore(data["appointments"])) <3 )]
random.seed(1)

1850

In [138]:
data.reset_index(drop=True)

      year_25  C_ID   latitude  longitude  Population  appointments
0        1575     1  52.027252  -0.495142       330.0            25
1        1575    10  51.878670  -0.420025      1600.0             7
2        1575  1002  52.267639  -2.157384       230.0             9
3        1575  1003  52.260704  -2.143421       180.0            19
4        1575  1006  52.091644  -1.946976       870.0             2
...       ...   ...        ...        ...         ...           ...
2416     1850   810  52.761517  -1.935967      3621.0             1
2417     1850   895  50.838306  -0.769558       588.5             2
2418     1850   940  52.250504  -1.389719       855.5             2
2419     1850   974  51.372562  -1.619764       646.5             1
2420     1850   992  51.204628  -2.181078      5252.5             1

[2421 rows x 6 columns]

In [142]:
data.describe().drop(columns=["year_25", "C_ID", "latitude", "longitude"]).round(1)

       Population  appointments
count      2421.0        2421.0
mean       1741.4          18.9
std        2115.7          17.7
min          10.0           1.0
25%         570.0           6.0
50%        1029.0          14.0
75%        2000.0          26.0
max       17525.0         125.0